@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
	@apply scroll-smooth;
}

body {
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;

	@apply flex flex-col min-h-screen px-1 sm:px-4 py-3 sm:py-8 text-slate-900 gap-y-4 md:gap-y-8 bg-slate-100 relative;
}

header, footer, body > section {
	@apply bg-white border rounded-md shadow-sm p-4;
}

footer {
	@apply text-center;
}

h2 {
	@apply text-center text-2xl font-black uppercase drop-shadow-xl mb-4;
}

body > section {
	@apply flex-1 pt-8;
}

button {
	@apply border active:bg-gradient-to-tr duration-300 shadow-sm rounded flex-1 font-light whitespace-nowrap bg-slate-100;
	@apply outline-1 outline-transparent active:border-transparent focus:border-transparent active:shadow-none active:text-white;
}

button.btn-xs {
	@apply max-w-[200px] px-1 py-0.5;
}

button.btn-md {
	@apply px-3 py-1;
}

button.btn-fluid {
	@apply w-full;
}

button.btn-primary {
	@apply from-sky-600 via-sky-700 to-sky-600 hover:border-blue-600  focus:outline-blue-500;
}

button.btn-success {
	@apply from-green-600 via-green-700 to-green-600 hover:border-green-600 focus:outline-green-500;
}

button.btn-secondary {
	@apply from-orange-600 via-orange-700 to-orange-600 hover:border-orange-600 focus:outline-orange-500;
}

button.btn-danger {
	@apply from-red-600 via-red-700 to-red-600 hover:border-red-600 focus:outline-red-500;
}

i.fas {
	@apply font-normal;
}

input, textarea {
	@apply border active:border-transparent active:shadow-none outline-1 outline-transparent focus:outline-blue-600 rounded px-4 py-2 shadow-sm flex-1 ;
}

label {
	@apply font-light;
}

/*  */
header {
	@apply flex items-center flex-col py-8 px-4 gap-8;
}

h1 {
	@apply text-center text-3xl font-black uppercase drop-shadow-xl;
}

form {
	@apply flex flex-col gap-4 w-[380px] sm:w-[448px];
}

form .form-group {
	@apply flex flex-col;
}

form .form-group input, form .form-group textarea {
	@apply w-full font-light;
}

/*  */
section > div {
	@apply flex gap-2 md:gap-4 justify-center;
}

/*  */
#snackbar {
	@apply invisible min-w-[256px] -ml-32 bg-green-600 text-white text-center rounded p-4 fixed left-1/2 bottom-8 drop-shadow font-semibold;
}

#snackbar.success {
	@apply bg-green-600;
}

#snackbar.error {
	@apply bg-red-600;
}

#snackbar.show {
	@apply visible animate-fadein z-20;
}

#snackbar.hide {
	@apply invisible delay-300 animate-fadeout -z-10;
}


/*  */
dialog {
	@apply fixed rounded-xl border p-10 z-20;
}

#backdrop {
	@apply fixed top-0 left-0 w-screen h-screen bg-slate-900 opacity-40 z-10;
}

#backdrop.show {
	@apply visible z-10;
}

#backdrop.hide {
	@apply invisible -z-10;
}


/*  */
ul {
	@apply flex flex-wrap gap-3 mx-auto justify-center;
}

li {
	@apply border border-transparent active:border-slate-200 rounded-md flex flex-col w-[384px] p-2 shadow active:shadow-none;
}

li > div {
	@apply flex items-center justify-between;
}

li > div > span:first-child {
	@apply font-light text-base first-letter:capitalize;
}

li > div > span:nth-child(2) {
	@apply font-light text-xs border p-1 rounded text-white bg-slate-800;
}

li > p {
	@apply font-light;
}

li > span {
	@apply flex justify-end items-center gap-2;
}

li > span > button {
	@apply text-sm;
}
